:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

p {
  font-family: Lato;
}

.spacer {
  flex: 1 1 auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
