<h2>Medicine body types</h2>

<form (ngSubmit)="addMedicineBodyType()">
  <input type="text" [(ngModel)]="newMedicineBodyType.name" name="name" placeholder="Name">
  <button mat-button type="submit">Add</button>
</form>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medicineBodyType of medicineBodyTypes">
    <td>{{medicineBodyType.id}}</td>
    <td>
      <input [(ngModel)]="medicineBodyType.name" name="name{{medicineBodyType.id}}">
    </td>
    <td>
      <button mat-button (click)="updateMedicineBodyType(medicineBodyType)">Save</button>
      <button mat-button color="warn" (click)="deleteMedicineBodyType(medicineBodyType.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
