<form (ngSubmit)="submit()" class="login-form">
  <h2>Вход</h2>

  <mat-form-field appearance="outline">
    <mat-label>Имя пользователя</mat-label>
    <input matInput
           [(ngModel)]="userName"
           name="userName"
           required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Пароль</mat-label>
    <input matInput type="password"
           [(ngModel)]="password"
           name="password"
           required>
  </mat-form-field>

  <button mat-raised-button
          *ngIf="!isLoading"
          color="primary"
          type="submit"
          [disabled]="isLoading">
    Войти
  </button>
  
  <mat-progress-spinner *ngIf="isLoading"
                        diameter="36"
                        mode="indeterminate"
                        class="spinner"
                        style="margin: 0 auto">
  </mat-progress-spinner>

  <div class="error" *ngIf="error">{{ error }}</div>
</form>
