.content-container {
  min-width: 1100px;
  position: relative;
}

.add-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
  align-items: stretch;
}

  .add-form button {
    height: 56px;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .add-form mat-form-field {
    flex: 1;
  }

mat-header-cell ::ng-deep .mat-sort-header-container {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  box-sizing: border-box !important;
}

mat-header-cell ::ng-deep .mat-sort-header-content {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box !important;
  overflow: visible !important;
}

.header-filter-wrapper {
  width: 100%;
  margin-top: 4px;
  display: block;
}

mat-header-cell ::ng-deep .small {
  width: 100% !important;
}

.mat-header-row, .mat-row {
  display: flex;
  align-items: stretch;
}

mat-header-cell, mat-cell {
  justify-content: center;
  flex: 0 0 auto;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 11px;
}

mat-header-cell ::ng-deep .small ::ng-deep .mat-mdc-input-element::placeholder {
  font-size: 13px !important;
}

mat-form-field.small ::ng-deep .mat-mdc-select-placeholder {
  font-size: 13px !important;
}

.mat-column-id {
  flex-basis: 6%;
}

.mat-column-name {
  flex-basis: 16%;
}

.mat-column-expirationDate {
  flex-basis: 17%;
}

.mat-column-medicineBodyType {
  flex-basis: 14%;
}

.mat-column-medicineType {
  flex-basis: 16%;
}

.mat-column-count {
  flex-basis: 9%;
}

.mat-column-comment {
  flex-basis: 16%;
}

.mat-column-delete {
  flex-basis: 6%;
}

.delete-cell {
  text-align: right;
  padding-right: 8px;
  flex-basis: auto;
}

.delete-cell button {
  display: flex;
  align-items: center;
  justify-content: center;
}
