<h2 id="tabLabel">{{componentName}}</h2>

<div *ngIf="isLoading" class="loading-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div *ngIf="!isLoading" class="content-container">
  <div class="add-form">
    <mat-form-field appearance="outline">
      <mat-label>Название</mat-label>
      <input matInput [(ngModel)]="newItem.name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Срок годности</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="newItem.expirationDate" (dateChange)="formatDate($event)" />
      <mat-hint>DD.MM.YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Категория</mat-label>
      <mat-select [(ngModel)]="newItem.bodyTypeId">
        <mat-option *ngFor="let mbt of medicineBodyTypes" [value]="mbt.id">
          {{ mbt.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Тип лекарства</mat-label>
      <mat-select [(ngModel)]="newItem.typeId">
        <mat-option *ngFor="let mt of medicineTypes" [value]="mt.id">
          {{ mt.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Количество</mat-label>
      <input matInput type="number" [(ngModel)]="newItem.count" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Комментарий</mat-label>
      <input matInput [(ngModel)]="newItem.comment" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addItem()">Добавить</button>
  </div>

  <mat-table [dataSource]="items" class="mat-elevation-z2">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let medicine"> {{medicine.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
      <mat-cell *matCellDef="let medicine">
        <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="inline-field">
          <input matInput
                 [(ngModel)]="medicine.name"
                 name="name{{medicine.id}}"
                 (blur)="updateItem(medicine)"
                 placeholder="Название">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expirationDate">
      <mat-header-cell *matHeaderCellDef> Срок годности </mat-header-cell>
      <mat-cell *matCellDef="let medicine">
        <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="inline-field">
          <input matInput
                 [matDatepicker]="picker"
                 [(ngModel)]="medicine.expirationDate"
                 (dateChange)="onDateChange(medicine, $event.value)"
                 (blur)="onDateChange(medicine, medicine.expirationDate)"
                 placeholder="YYYY‑MM‑DD"
                 name="expirationDate{{medicine.id}}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="medicineBodyType">
      <mat-header-cell *matHeaderCellDef> Категория </mat-header-cell>
      <mat-cell *matCellDef="let medicine">
        <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="inline-field">
          <mat-select [(ngModel)]="medicine.bodyTypeId"
                      name="medicineBodyType{{medicine.id}}"
                      (selectionChange)="updateItem(medicine)">
            <mat-option *ngFor="let mbt of medicineBodyTypes" [value]="mbt.id">
              {{ mbt.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="medicineType">
      <mat-header-cell *matHeaderCellDef> Тип лекарства </mat-header-cell>
      <mat-cell *matCellDef="let medicine">
        <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="inline-field">
          <mat-select [(ngModel)]="medicine.typeId"
                      name="medicineType{{medicine.id}}"
                      (selectionChange)="updateItem(medicine)">
            <mat-option *ngFor="let mt of medicineTypes" [value]="mt.id">
              {{ mt.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef> Количество </mat-header-cell>
      <mat-cell *matCellDef="let medicine">
        <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="inline-field">
          <input matInput type="number"
                 [(ngModel)]="medicine.count"
                 name="count{{medicine.id}}"
                 (blur)="updateItem(medicine)"
                 placeholder="Количество">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef> Комментарий </mat-header-cell>
      <mat-cell *matCellDef="let medicine">
        <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="inline-field">
          <input matInput
                 [(ngModel)]="medicine.comment"
                 name="comment{{medicine.id}}"
                 (blur)="updateItem(medicine)"
                 placeholder="Комментарий">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let medicine" class="delete-cell">
        <button mat-icon-button color="warn" (click)="deleteItem(medicine.id)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['id', 'name', 'expirationDate', 'medicineBodyType', 'medicineType', 'count', 'comment', 'delete']"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: ['id', 'name', 'expirationDate', 'medicineBodyType', 'medicineType', 'count', 'comment', 'delete']"
      [class.updated-row]="row.id === updatedId"
      [class.error-row]="row.id === errorId">
    </mat-row>

  </mat-table>

</div>
