<h2 id="tabLabel">{{componentName}}</h2>

<div *ngIf="isLoading" class="loading-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div *ngIf="!isLoading" class="content-container">
  <!-- форма добавления -->
  <div class="add-form-common">
    <mat-form-field appearance="outline">
      <mat-label>Название</mat-label>
      <input matInput [(ngModel)]="newItem.name" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addItem()">Добавить</button>
  </div>

  <table mat-table [dataSource]="items" class="mat-elevation-z2">
    <!-- колонки таблицы -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="inline-field">
          <input matInput
                 [(ngModel)]="item.name"
                 name="name{{item.id}}"
                 (blur)="updateItem(item)"
                 placeholder="Название">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item" class="delete-cell">
        <button mat-icon-button color="warn" (click)="deleteItem(item.id)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
</div>
