.horizontalTabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.15em;
}

  .horizontalTabs nav {
    text-align: center;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    flex-flow: row wrap;
    justify-content: center;
  }

mat-tab-nav-panel {
  display: block;
  padding-top: 20px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .horizontalTabs ::ng-deep .mdc-tab__text-label {
    font-size: 0.9em;
  }

  mat-tab-nav-panel {
    padding-top: 12px;
  }
}
